body{
    background-color: whitesmoke;
}
.box{
    background-color: white;
    width: 400px;
    height: 650px;
    display: flex;
    margin-left: 470px;
    margin-top: 15px;
    border-radius: 4px;
    justify-content: center;
}
.inner{
    width: 300px;
    height: 210px;
}
.logo{
    margin-top: 50px;
    width: 200px;
    margin-left: 50px;
    height: 50px;
}
.text1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
}
.logo2{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}
.button{
    display: flex;
    justify-content: center;
    background-color: #4267b2;
    width: 280px;
    height: 35px;
    margin-left: 15px;
    border-radius: 3px;
   
}
#fac{
    color: white;
    font-size: 19px;
}
.face{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.but{
    border: none;
    background-color: #4267b2;
    font-weight: 700;
    /* width: 400px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line{
    display: flex;
    justify-content: center;
}
hr{
    background-color: black;
    border: none;
    width: 150px;
}
.inp1{
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 5px;

}
.inp1:hover{
    border: 1px solid rgb(19, 190, 240);
    border-radius: 5px;
}
.inp2{
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 5px;
}
.inp2:hover{
    border: 1px solid rgb(19, 190, 240);
    border-radius: 5px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.link{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0,127,237);
    text-decoration: none;
}
.log{
    background-color: #007fed;
    border: none;
    margin-top: 25px;
    width: 300px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 3px;
}
.txt{
    color: white;
    font-size: 20px;
}
.bot{
    border: 1px solid rgb(222,222,222);
    width: 300px;
}
.down{
    margin-left: 48px;
}
.sign{
    text-decoration: none;
    color: #007fed;
}
.apple{
    display: flex;
    width: 280px;
    margin-left: 10px;
    justify-content: space-around;
}
.app-img{
    width: 130px;
    height: 40px;
}
.user{
    margin-top: 20px;
}
.a1{
    color: #007fed;
}